.about__inner {
  max-width: 1220px;
  padding: 35px 21px 89px;
  margin: 0 auto;
  display: flex;
  position: relative;

  @media (max-width: $tablets-max) {
    padding: 23px 20px 68px 24px;
  }

  @media (max-width: $mobiles-max) {
    padding: 32px 14px 63px 16px;
  }

  @media (min-width: $desktops) {
    em {
      display: none;
    }
  }
}


.about__picture {
  flex-shrink: 0;
  padding-top: 42px;
  margin-left: -29px;

  @media (max-width: $tablets-max) {
    padding-top: 0;
    margin-left: -34px;
  }

  @media (max-width: $mobiles-max) {
    display: none;
  }
}

.about__picture img {
  @media (max-width: $tablets-max) {
    width: 169px;
  }
}

.about__info h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 36px 0 11px;

  @media (max-width: $tablets-max) {
    font-size: 32px;
    line-height: 140.62%;
    margin: 3px 0 9px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 28px;
    margin: 5px 0 11px;
  }
}

.about__info p {
  margin: 0;
  padding: 10px 0 12px;

  @media (max-width: $tablets-max) {
    padding: 16px 0 2px;
  }

  @media (max-width: $mobiles-max) {
    padding: 9px 0 30px;
  }
}

.about__info {
  padding: 0 10px 0 65px;

  @media (max-width: $tablets-max) {
    padding: 0 10px 0 53px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0;
  }
}

.about__info span {
  @media (max-width: $tablets-max) {
    display: none;
  }
}
