.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: #00b2ff;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &--contacts {
    background-color: transparent;
    padding: 14px 27px;
    border: 1px solid #ffffff;
    letter-spacing: 0.7px;
    transform: translateX(-2px);

    @media (max-width: $tablets-max) {
      display: none;
    }
  }

  &--info {
    border-radius: 5px;
    padding: 18px 47px;
    margin-top: 43px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.8px;

    @media (max-width: $tablets-max) {
      padding: 17px 31px;
      margin-top: 56px;
    }

    @media (max-width: $mobiles-max) {
      margin-top: 41px;
      padding: 19px 33px;
    }
  }

  &--details {
    color: #00b2ff;
    background-color: transparent;
    padding: 14px 50px;
    border: 1px solid #00b2ff;
    letter-spacing: 0.7px;
    margin-top: 27px;

    @media (max-width: $tablets-max) {
      margin-top: 40px;
    }

    @media (max-width: $mobiles-max) {
      margin-top: -6px;
    }
  }

  &--question {
    border: 1px solid #ffffff;
    padding: 14px 28px;
    width: 47.5%;

    @media (max-width: $tablets-max) {
      width: 80%;
    }

    @media (max-width: $mobiles-max) {
      width: 100%;
    }
  }

  &--modal {
    border: 1px solid #ffffff;
    padding: 15px 28px;
    width: 100%;
    letter-spacing: 0.5px;
  }
}
