.contacts {
  font-size: 16px;
  line-height: 18px;
}

.contacts__list {
  @include list();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}

.contacts__item {
  padding-left: 45px;
  text-align: center;

  &:nth-child(2) {
    padding-left: 95px;
  }
}


.contacts__link {
  color: #ffffff;
  text-decoration: none;
}
