.contents {
  width: 43%;

  @media (max-width: $tablets-max) {
    margin-left: 0;
    margin-right: 0;
    width: 50%;
  }

  @media (max-width: $mobiles-max) {
    width: 100%;
  }
}

.contents h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
  position: relative;

  @media (max-width: $tablets-max) {
    &::before {
      position: absolute;
      content: "";
      background-color: #626962;
      width: 230%;
      height: 1px;
      color: #1b2d37;
      opacity: 0.5;
      top: -39px;
      left: -30px;
    }
  }

  @media (max-width: $mobiles-max) {
    &::before {
      background-color: #626962;
      width: 110%;
      top: -29px;
      left: -20px;
    }
  }
}

.contents__inner ul {
  @include list;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.contents__inner {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: $tablets-max) {
    flex-direction: column;
  }
}

.contents .show {
  @media (max-width: $mobiles-max) {
    position: relative;

    ul {
      display: block;
    }

    &::before {
      position: absolute;
      content: "";
      background-color: #c4c4c4;
      background-repeat: no-repeat;
      width: 16px;
      height: 2px;
      right: 3px;
      top: -33px;
    }
  }
}

.contents .hide {
  @media (max-width: $mobiles-max) {
    position: relative;

    ul {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/plus.svg");
      right: 3px;
      top: -40px;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }
  }
}

.contents__link {
  text-decoration: none;
  color: #1b2d37;
  opacity: 0.5;
}
