.contacts ul {
  @include list;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 0;

  @media (max-width: $tablets-max) {
    padding: 0;
  }
}

.contacts__item {
  padding-left: 57px;
  text-align: center;
  position: relative;

  &--phone {
    padding-left: 123px;

    &::before {
      position: absolute;
      background-repeat: no-repeat;
      content: "";
      background-image: url("../img/phone.svg");
      background-size: cover;
      width: 18px;
      height: 18px;
      left: 88px;
      top: 0;

      @media (max-width: $tablets-max) {
        width: 22.54px;
        height: 22.61px;
        left: 148px;
        top: -14px;
      }
    }
  }

  &--email {
    @media (max-width: $mobiles-max) {
      padding-left: 47px;
    }

    &::before {
      position: absolute;
      background-repeat: no-repeat;
      content: "";
      background-image: url("../img/email.svg");
      left: 17px;
      background-size: cover;
      top: 1px;
      width: 20px;
      height: 14px;

      @media (max-width: $tablets-max) {
        width: 25.33px;
        height: 18.67px;
        left: 146px;
        top: -11px;
      }
    }
  }

  &--callback {
    padding-left: 50px;
  }
}

.contacts__link {
  color: #ffffff;
  text-decoration: none;

  @media (max-width: $tablets-max) {
    display: none;
  }

  &:hover,
  &focus {
    color: #00b2ff;
  }
}
