.copyright {
  max-width: 1460px;
  margin: 0 auto;
  padding: 19px 25px 19px 21px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  @media (max-width: $tablets-max) {
    padding: 22px 25px 19px 26px;
  }

  @media (max-width: $mobiles-max) {
    padding: 20px 14px 16px;

    &::before {
      position: absolute;
      content: "";
      background-color: #626962;
      width: 110%;
      height: 1px;
      color: #1b2d37;
      opacity: 0.5;
      top: -9px;
      left: -20px;
    }
  }
}

.copyright__inner {
  display: flex;
  justify-content: space-between;
  width: 459px;
  margin-right: 140px;

  @media (max-width: $tablets-max) {
    display: none;
  }
}

.copyright__links {
  display: flex;
  justify-content: space-between;
  width: 58%;

  @media (max-width: $tablets-max) {
    width: 100%;
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
    align-items: center;
  }
}

.copyright__inner p {
  margin: 0;
}

.copyright__link {
  text-decoration: none;
  color: #1b2d37;

  @media (max-width: $mobiles-max) {
    &--developed {
      padding-top: 21px;
    }
  }
}
