.feedback {
  color: #ffffff;
  padding-left: 51%;
  padding-top: 90px;

  @media (max-width: $tablets-max) {
    padding-top: 81px;
    padding-left: 0;
    margin: 0 auto;
    max-width: 590px;
  }
}

.feedback__fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;

  @media (max-width: $tablets-max) {
    font-size: 32px;
    line-height: 140.62%;
  }
}

.feedback__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 33px;

  @media (max-width: $tablets-max) {
    padding-top: 17px;
  }
}

.feedback__field {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 270px;
  height: 52px;

  @media (max-width: $tablets-max) {
    width: 280px;
  }
}

.feedback__text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 570px;
  height: 154px;
  margin-top: 10px;

  @media (max-width: $tablets-max) {
    width: 591px;
    min-height: 160px;
  }
}

.form input[type="tel"]::placeholder,
.form input[type="text"]::placeholder {
  color: #ffffff;
  padding: 10px 17px;
}

.form textarea::-webkit-input-placeholder {
  color: #ffffff;
  padding: 10px 17px;
}

.form textarea::-moz-placeholder {
  color: #ffffff;
  padding: 10px 17px;
}

.feedback__confirm {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.feedback__checkbox {
  width: 270px;
}

.feedback__label {
  position: relative;
  display: block;
  padding-left: 40px;
}

.feedback__label span {
  font-size: 14px;
  line-height: 16px;
}


.feedback__label::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 3px;
  border: 1px solid #ffffff;
  width: 16px;
  height: 16px;
}

.feedback__label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.feedback__item {
  @media (max-width: $tablets-max) {
    margin-top: 21px;
    margin-bottom: 10px;

    &--textarea {
      margin-bottom: 18px;
    }
  }
}
