.feedback {
  color: #ffffff;
  padding-left: 51%;
  padding-top: 89px;
  position: relative;

  @media (max-width: $tablets-max) {
    padding-top: 81px;
    padding-left: 7px;
    margin: 0 auto;
    max-width: 600px;
  }

  @media (max-width: $mobiles-max) {
    padding-top: 34px;
    padding-left: 0;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/polygon-form-small.svg");
    width: 234px;
    height: 234px;
    background-repeat: no-repeat;
    right: -333px;
    top: 91px;

    @media (max-width: $tablets-max) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/polygon-form-big.svg");
    width: 373px;
    height: 373px;
    background-repeat: no-repeat;
    right: -552px;
    top: 288px;

    @media (max-width: $tablets-max) {
      display: none;
    }
  }
}

.feedback__fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 570px;

  @media (max-width: $tablets-max) {
    width: 590px;
  }

  @media (max-width: $mobiles-max) {
    width: 100%;
    flex-direction: column;
  }
}

.feedback h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;

  @media (max-width: $tablets-max) {
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobiles-max) {
    font-size: 28px;
  }
}

.feedback p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 47px;

  @media (max-width: $tablets-max) {
    padding-top: 17px;
    padding-bottom: 55px;
  }

  @media (max-width: $mobiles-max) {
    padding-bottom: 20px;
  }
}

.feedback__item {
  padding-bottom: 32px;
}

.feedback__textarea {
  padding-bottom: 17px;
}

.feedback__item input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 270px;
  height: 52px;

  @media (max-width: $tablets-max) {
    width: 280px;
  }

  @media (max-width: $mobiles-max) {
    width: 100%;
  }
}

.feedback__textarea textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 570px;
  min-height: 154px;
  margin-top: 10px;
  resize: none;

  @media (max-width: $tablets-max) {
    width: 591px;
    min-height: 160px;
  }

  @media (max-width: $mobiles-max) {
    width: 100%;
    min-height: 104px;
    margin-top: 0;
  }
}

.form input[type="tel"]::placeholder,
.form input[type="text"]::placeholder {
  color: #ffffff;
  padding: 10px 17px;
}

.form textarea::-webkit-input-placeholder {
  color: #ffffff;
  padding: 10px 17px;
}

.form textarea::-moz-placeholder {
  color: #ffffff;
  padding: 10px 17px;
}

.feedback__confirm {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  @media (max-width: $mobiles-max) {
    flex-direction: column;
    padding-top: 6px;
  }
}

.feedback__checkbox {
  width: 270px;

  @media (max-width: $tablets-max) {
    width: 100%;
    //padding-top: 27px;
  }
}

.feedback__label {
  position: relative;
  display: block;
  padding-left: 40px;

  @media (max-width: $tablets-max) {
    padding-left: 74px;
  }

  @media (max-width: $mobiles-max) {
    padding-left: 33px;
    padding-top: 27px;
  }
}

.feedback__label span {
  font-size: 14px;
  line-height: 16px;
}


.feedback__label::before {
  position: absolute;
  content: "";
  left: 7px;
  top: 8px;
  border: 1px solid #ffffff;
  width: 16px;
  height: 16px;

  @media (max-width: $tablets-max) {
    left: 41px;
    top: 10px;
  }

  @media (max-width: $mobiles-max) {
    left: 0;
    top: 35px;
  }
}

.feedback__label::after {
  position: absolute;
  content: "";
  left: 7px;
  top: 8px;
  width: 16px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: $tablets-max) {
    left: 41px;
    top: 10px;
  }

  @media (max-width: $mobiles-max) {
    left: 0;
    top: 35px;
  }
}
