.footer {
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
}

.footer::after {
  position: absolute;
  content: "";
  background-color: #626962;
  width: 100%;
  height: 1px;
  color: #1b2d37;
  opacity: 0.5;
  top: 263px;

  @media (max-width: $tablets-max) {
    top: 384px;
  }

  @media (max-width: $mobiles-max) {
    display: none;
  }
}

.footer__wrapper {
  max-width: 1460px;
  margin: 0 auto;
  padding: 50px 22px 52px 25px;
  //min-height: 279px;
  display: flex;
  //justify-content: space-between;

  @media (max-width: $tablets-max) {
    padding: 0 25px 35px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 14px 35px 16px;
  }
}

.footer__inner {
  width: 70%;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablets-max) {
    padding-top: 50px;
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: $mobiles-max) {
    padding-top: 65px;
    flex-direction: column;
  }
}
