.footer-contacts {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;

  @media (max-width: $tablets-max) {
    width: 50%;
    padding-left: 15px;
  }

  @media (max-width: $mobiles-max) {
    padding-left: 0;
    width: 100%;
    padding-top: 16px;
  }
}

.footer-contacts__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.footer-contacts .show {
  @media (max-width: $mobiles-max) {
    position: relative;

    ul {
      display: block;
    }

    &::before {
      position: absolute;
      content: "";
      background-color: #c4c4c4;
      background-repeat: no-repeat;
      width: 16px;
      height: 2px;
      right: 3px;
      top: -40px;
    }
  }
}

.footer-contacts .hide {
  @media (max-width: $mobiles-max) {
    position: relative;

    ul {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/plus.svg");
      right: 3px;
      top: -47px;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }
  }
}

.footer-contacts__inner ul {
  @include list;
}

.footer-contacts h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 23px;
  position: relative;

  @media (max-width: $tablets-max) {
    margin-left: 2px;
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 32px;
    margin-left: 0;

    &::before {
      position: absolute;
      content: "";
      background-color: #626962;
      width: 110%;
      height: 1px;
      color: #1b2d37;
      opacity: 0.5;
      top: -28px;
      left: -20px;
    }
  }
}

.footer-contacts__phone {
  text-decoration: none;
  color: #1b2d37;
  opacity: 0.5;

  &:hover,
  &:focus {
    color: #00b2ff;
  }
}

.footer-contacts__address {
  font-style: normal;

  @media (max-width: $mobiles-max) {
    padding-right: 5px;
  }
}
