.footer {
  background-color: #fafafa;
}

.footer__wrapper {
  max-width: 1460px;
  margin: 0 auto;
  padding: 50px 25px 0 25px;
  min-height: 279px;
  display: flex;
  //justify-content: space-between;

  @media (max-width: $tablets-max) {
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.footer__inner {
  width: 70%;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablets-max) {
    padding-top: 50px;
    width: 100%;
    justify-content: space-between;
  }
}
