.form {
  background-color: #00b2ff;
}

.form__inner {
  max-width: 1220px;
  position: relative;
  margin: 0 auto;
  padding: 0 25px 112px;

  @media (max-width: $tablets-max) {
    padding: 0 25px 107px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 14px 35px 16px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/paper_airplane.png");
    width: 511px;
    height: 288px;
    top: 159px;
    left: 0;
    background-repeat: no-repeat;
    z-index: 10;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/paper_airplane@2x.png");
      background-size: 511px auto;
    }

    @media (max-width: $tablets-max) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/triangle-form.svg");
    width: 613px;
    height: 591px;
    background-repeat: no-repeat;
    left: -155px;
    top: 91px;


    @media (max-width: $tablets-max) {
      display: none;
    }
  }
}
