.form {
  background-color: #00b2ff;
  //background-image: url("../img/triangle.svg");
}

.form__inner {
  max-width: 1220px;
  position: relative;
  margin: 0 auto;
  padding: 0 25px 112px;

  @media (max-width: $tablets-max) {
    padding: 0 25px 107px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 14px 35px 16px;
  }
}

/*
.form__inner::after {
  position: absolute;
  content: "";
  background-image: url("../img/triangle.svg");
}*/

.form__inner::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/paper_airplane.png");
  width: 511px;
  height: 288px;
  top: 159px;
  left: 0;

  @media (max-width: $tablets-max) {
    display: none;
  }
}
