.header {
  background: #1b2d37;
  background-image: url("../img/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85.5% 71%;
  color: #ffffff;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-background@2x.png");
    background-size: cover;
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/header-background.png");
    color: #ffffff;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-background@2x.png");
      background-size: cover;
    }
  }
}

.header__inner {
  max-width: 1460px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 28px 25px 0 20px;

  @media (max-width: $tablets-max) {
    padding: 12px 25px 0 25px;
  }

  @media (max-width: $mobiles-max) {
    padding: 16px 12px 0 21px;
  }
}
