.info {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1460px;
  margin: 0 auto;
  padding: 190px 0 275px 0;
  //padding: 190px 0 292px 0;

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/chip-desktop@1x.png");
    width: 705px;
    height: 515px;
    right: -50px;
    top: 173px;
    background-repeat: no-repeat;
    z-index: 10;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/chip-desktop@2x.png");
      background-size: 700px auto;
    }
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/triangle-header.svg");
    width: 707px;
    height: 489px;
    right: -65px;
    top: 187px;
    background-repeat: no-repeat;
  }

  @media (max-width: $tablets-max) {
    padding: 75px 0 165px;

    &::before {
      background-image: url("../img/chip-tablet@1x.png");
      right: -206px;
      width: 465px;
      height: 340px;
      top: 40px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/chip-tablet@2x.png");
        background-size: 260px auto;
      }
    }

    &::after {
      right: -171px;
      width: 485px;
      height: 495px;
      top: 10px;
    }
  }

  @media (max-width: $mobiles-max) {
    padding: 77px 0 69px;

    &::before {
      background-image: url("../img/chip-mobile@1x.png");
      right: -12px;
      width: 301px;
      height: 220px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/chip-mobile@2x.png");
        background-size: 292px auto;
      }
    }

    &::after {
      right: -312px;
      width: 461px;
      height: 529px;
      top: 15px;
    }
  }
}

.info__general {
  padding: 39px 0 0 17px;
  max-width: 740px;

  @media (max-width: $tablets-max) {
    padding: 41px 0 0 88px;
    max-width: 600px;
  }

  @media (max-width: $mobiles-max) {
    padding: 156px 10px 0 23px;
    max-width: 100%;
  }
}

.info__general h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.07em;

  @media (max-width: $tablets-max) {
    font-size: 60px;
    line-height: 70px;
    white-space: normal;
  }

  @media (max-width: $mobiles-max) {
    font-size: 40px;
    line-height: 47px;
    margin-left: -2px;
  }
}

.info__inner p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  //margin: 0 0 61px 0;

  @media (max-width: $tablets-max) {
    font-size: 18px;
    line-height: 156.8%;
    //margin: 0 0 73px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 16px;
    padding: 27px 0 0 48px;
  }
}

.info__inner {
  position: relative;
  padding: 28px 0 0 97px;

  @media (max-width: $tablets-max) {
    padding: 28px 0 0 51px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 2px;
    width: 66px;
    left: 4px;
    top: 45px;

    @media (max-width: $tablets-max) {
      width: 33px;
      height: 2px;
    }

    @media (max-width: $mobiles-max) {
      left: 0;
      top: 41px;
    }
  }
}

.info__text {
  &--tablet {
    @media (max-width: $mobiles-max) {
      display: none;
    }
  }

  &--mobile {
    @media (min-width: $tablets) {
      display: none;
    }
  }
}

.info__scroll {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
  top: 326px;
  left: -34px;

  @media (max-width: $tablets-max) {
    display: none;
  }
}

/*
если "получить консультацию" - ссылка
.info__question {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: #00b2ff;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 18px 47px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;

  @media (max-width: $tablets-max) {
    padding: 17px 31px;
    margin-top: 56px;
  }

  @media (max-width: $mobiles-max) {
    margin-top: 41px;
    padding: 19px 33px;
  }
}*/
