.logo-footer {
  display: flex;
  flex-direction: column;
  width: 30%;

  @media (max-width: $tablets-max) {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
  }
}

.logo-footer__wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 14px;

  @media (max-width: $tablets-max) {
    padding-right: 37px;
    padding-top: 0;
  }
}

.logo-footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 8px;

  @media (max-width: $tablets-max) {
    padding-left: 15px;
    padding-top: 7px;
  }
}

.logo-footer__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
