.logo-footer {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablets-max) {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
  }
}

.logo-footer__copyright {
  display: none;

  @media (max-width: $tablets-max) {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin: 0 auto;
    text-transform: uppercase;
  }
}

.logo-footer__wrapper {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablets-max) {
    padding-right: 37px;
  }
}

.logo-footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 8px;
}

.logo-footer__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
