.modal {
  z-index: 50;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.modal__frame {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
  position: absolute;
  width: 490px;
  min-height: 605px;
  background-color: #00b3ff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 30px 39px;
  z-index: 2;

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 39.38px;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 10px 0;
  }
}

.modal__close {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 17px;
  height: 17px;
  font-size: 0;
  right: 19px;
  top: 19px;
  background-color: transparent;
  background-image: url("../img/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.modal__item {
  padding: 22px 0 10px 0;
}

.modal__item input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  height: 52px;
  width: 100%;
}

.modal__textarea {
  padding: 22px 0 10px 0;
}

.modal__textarea textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 100%;
  min-height: 104px;
  resize: none;
}

.modal__confirm {
  padding-top: 11px;
}

.modal__form input[type="tel"],
.modal__form input[type="text"],
.modal__form textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 10px 22px;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    color: #ffffff;
  }
}

.modal__label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  padding-left: 50px;
  display: block;

  &:hover,
  &:focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

.modal__checkbox {
  padding-top: 33px;
}

.modal__label::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 1px;
  border: 1px solid #ffffff;
  width: 16px;
  height: 16px;
}

.modal__checkbox input[type="checkbox"] {
  display: none;
}

.modal__checkbox input[type="checkbox"]:checked + label::after {
  position: absolute;
  display: block;
  content: "";
  left: 2px;
  top: 1px;
  width: 16px;
  height: 16px;
  z-index: 10;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
