.offers {
  background-color: #1b2d37;
}

.offers__inner {
  max-width: 1220px;
  padding: 89px 25px 100px;
  margin: 0 auto;
  color: #ffffff;

  @media (max-width: $tablets-max) {
    padding: 50px 25px 31px;
  }

  @media (max-width: $mobiles-max) {
    padding: 51px 14px 37px 16px;
  }
}

.offers__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0 0;

  @media (max-width: $tablets-max) {
    flex-direction: column;
  }

  @media (max-width: $mobiles-max) {
    padding: 41px 0 0;
  }
}

.offers__inner h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;

  @media (max-width: $tablets-max) {
    font-size: 32px;
    line-height: 140.62%;
    padding-right: 90px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 28px;
    padding: 0 7px;
  }
}

.offers__item p {
  margin: 0;
  width: 260px;
  padding: 51px 44px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $tablets-max) {
    padding: 40px 45px;
  }

  @media (max-width: $mobiles-max) {
    padding: 22px 34px;
  }
}

.offers__item {
  position: relative;
  background-repeat: no-repeat;
  width: 31.7%;
  min-height: 620px;
  margin-bottom: 30px;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    border: 1px solid #ffffff;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: #00b2ff;
    width: 63px;
    height: 63px;
    right: 0;
    bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/arrow.svg");
    width: 8px;
    height: 10px;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    background-repeat: no-repeat;

    @media (max-width: $tablets-max) {
      bottom: 27px;
    }

    @media (max-width: $mobiles-max) {
      right: 27px;
    }
  }

  @media (max-width: $tablets-max) {
    width: 100%;
    min-height: 258px;
    margin-bottom: 44px;
    background-size: cover;
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 27px;
  }

  &--production {
    background-image: url("../img/production-desktop@1x.png");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/production-desktop@2x.png");
    }

    @media (max-width: $tablets-max) {
      background-image: url("../img/production-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/production-tablet@2x.png");
      }
    }

    @media (max-width: $mobiles-max) {
      background-image: url("../img/production-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/production-mobile@2x.png");
      }
    }
  }

  &--installation {
    background-image: url("../img/installation-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/installation-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $tablets-max) {
      background-image: url("../img/installation-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/installation-tablet@2x.png");
      }
    }

    @media (max-width: $mobiles-max) {
      background-image: url("../img/installation-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/installation-mobile@2x.png");
      }
    }
  }

  &--equipment {
    background-image: url("../img/equipment-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/equipment-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $tablets-max) {
      background-image: url("../img/equipment-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/equipment-tablet@2x.png");
      }

      @media (max-width: $mobiles-max) {
        background-image: url("../img/equipment-mobile@1x.png");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/equipment-mobile@2x.png");
        }
      }

      p {
        padding: 50px 45px;

        @media (max-width: $mobiles-max) {
          padding: 33px 56px 44px 34px;
        }
      }
    }
  }
}
