.offers {
  background-color: #1b2d37;
}

.offers__inner {
  max-width: 1220px;
  padding: 90px 25px 80px;
  margin: 0 auto;
  color: #ffffff;

  @media (max-width: $tablets-max) {
    padding: 50px 25px 28px;
  }
}

.offers__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0 0;

  @media (max-width: $tablets-max) {
    flex-direction: column;
  }
}

.offers__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;

  @media (max-width: $tablets-max) {
    font-size: 32px;
    line-height: 140.62%;
    padding-right: 90px;
  }
}

.offers__paragraph {
  margin: 0;
  width: 260px;
  padding: 53px 47px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.offers__item {
  position: relative;
  background-repeat: no-repeat;
  width: 370px;
  height: 620px;

  &::after {
    position: absolute;
    content: "";
    background-color: #00b2ff;
    width: 63px;
    height: 63px;
    right: 0;
    bottom: 0;

    @media (max-width: $tablets-max) {
      bottom: 22px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/arrow.svg");
    width: 8px;
    height: 10px;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    background-repeat: no-repeat;

    @media (max-width: $tablets-max) {
      bottom: 50px;
    }
  }

  @media (max-width: $tablets-max) {
    width: 100%;
    height: 278.71px;
    margin-bottom: 25px;
    background-size: cover;
  }

  &--production {
    background-image: url("../img/production.png");

    @media (max-width: $tablets-max) {
      background-image: url("../img/production-tablet@1x.png");
    }
  }

  &--installation {
    background-image: url("../img/installation.png");

    @media (max-width: $tablets-max) {
      background-image: url("../img/installation-tablet@1x.png");
    }
  }

  &--equipment {
    background-image: url("../img/equipment.png");

    @media (max-width: $tablets-max) {
      background-image: url("../img/equipment-tablet@1x.png");
    }
  }
}
