@font-face {
  font-family: "PT Mono";
  src: url("../fonts/ptmono.woff2") format("woff2"),
    url("../fonts/ptmono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*Roboto Condensed regular*/
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Robotocondensed.woff2") format("woff2"),
    url("../fonts/Robotocondensed.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*Bold*/
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../fonts/Robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
