@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link() {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

@mixin wrapper() {
  //width: 320px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 auto;

  @media (min-width: $tablets) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $desktops) {
    //width: 1024px;
    padding-right: 235px;
    padding-left: 235px;
  }
}

@mixin visually-hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
